<tables>
  <table [% r.dst_table %]>
    description         = Description
    logfield            = 
    #<orderby>
    #  -asc              = [% r.order_field %]
    #</orderby>
    <headermap>
    [%- FOREACH field = r.columns %]
      [% field %] = [% field -%]
    [%- END %]
    </headermap>
  </table>
</tables>
